# Iris Classification

## Module Importing

In [27]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score, confusion_matrix

## Dataset Importing

In [2]:
df = pd.read_csv("Iris.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

# Assuming y contains string labels
label_encoder = LabelEncoder()
df['Species'] = label_encoder.fit_transform(df['Species'])
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [9]:
label_encoder.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [12]:
X = df.drop(columns = ['Id','Species'])
Y = df['Species']
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [13]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Species, dtype: int32

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X, Y, test_size=0.2, shuffle = True, random_state=42)
print(X_train.shape, y_train.shape)

(120, 4) (120,)

In [15]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## Model Building

In [16]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(4,)),  # Input layer with 4 features
    tf.keras.layers.Dense(8, activation='relu'),
    tf.keras.layers.Dense(3, activation='softmax')  # Output layer with 3 classes
])

WARNING:tensorflow:From C:\Users\welcome\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [20]:
#Model Compiling
model.compile(optimizer = "adam", loss = "sparse_categorical_crossentropy", metrics = ["accuracy"])

WARNING:tensorflow:From C:\Users\welcome\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [22]:
model.fit(X_train, y_train, epochs = 50, batch_size = 16, verbose = 1)

Epoch 1/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4894 - accuracy: 0.8667
Epoch 2/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4837 - accuracy: 0.8667
Epoch 3/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4784 - accuracy: 0.8667
Epoch 4/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4731 - accuracy: 0.8667
Epoch 5/50
8/8 [==============================] - 0s 4ms/step - loss: 0.4674 - accuracy: 0.8583
Epoch 6/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4625 - accuracy: 0.8667
Epoch 7/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4574 - accuracy: 0.8667
Epoch 8/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4521 - accuracy: 0.8667
Epoch 9/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4471 - accuracy: 0.8667
Epoch 10/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4417 - accuracy: 0.8833
Epoch 11/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4367 - accuracy: 0.8833
Epoch 12/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4315 - accuracy: 0.8833
Epoch 13/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4265 - accuracy: 0.8833
Epoch 14/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4217 - accuracy: 0.8833
Epoch 15/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4170 - accuracy: 0.8833
Epoch 16/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4125 - accuracy: 0.8917
Epoch 17/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4077 - accuracy: 0.8917
Epoch 18/50
8/8 [==============================] - 0s 3ms/step - loss: 0.4031 - accuracy: 0.8917
Epoch 19/50
8/8 [==============================] - 0s 6ms/step - loss: 0.3986 - accuracy: 0.8917
Epoch 20/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3941 - accuracy: 0.8917
Epoch 21/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3900 - accuracy: 0.8917
Epoch 22/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3859 - accuracy: 0.8917
Epoch 23/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3817 - accuracy: 0.8917
Epoch 24/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3773 - accuracy: 0.8917
Epoch 25/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3734 - accuracy: 0.8917
Epoch 26/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3695 - accuracy: 0.8917
Epoch 27/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3657 - accuracy: 0.8917
Epoch 28/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3618 - accuracy: 0.9000
Epoch 29/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3582 - accuracy: 0.9000
Epoch 30/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3545 - accuracy: 0.9000
Epoch 31/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3510 - accuracy: 0.8917
Epoch 32/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3477 - accuracy: 0.8917
Epoch 33/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3446 - accuracy: 0.8917
Epoch 34/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3413 - accuracy: 0.8917
Epoch 35/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3381 - accuracy: 0.8917
Epoch 36/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3347 - accuracy: 0.8917
Epoch 37/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3317 - accuracy: 0.8917
Epoch 38/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3286 - accuracy: 0.8917
Epoch 39/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3256 - accuracy: 0.8917
Epoch 40/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3225 - accuracy: 0.8917
Epoch 41/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3197 - accuracy: 0.8917
Epoch 42/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3167 - accuracy: 0.8917
Epoch 43/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3137 - accuracy: 0.8917
Epoch 44/50
8/8 [==============================] - 0s 4ms/step - loss: 0.3110 - accuracy: 0.8917
Epoch 45/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3083 - accuracy: 0.8917
Epoch 46/50
8/8 [==============================] - 0s 5ms/step - loss: 0.3057 - accuracy: 0.8917
Epoch 47/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3030 - accuracy: 0.8917
Epoch 48/50
8/8 [==============================] - 0s 3ms/step - loss: 0.3001 - accuracy: 0.8917
Epoch 49/50
8/8 [==============================] - 0s 3ms/step - loss: 0.2977 - accuracy: 0.8917
Epoch 50/50
8/8 [==============================] - 0s 3ms/step - loss: 0.2951 - accuracy: 0.9000

In [23]:
prediction = model.predict(X_test)
print(prediction[:5])

1/1 [==============================] - 0s 148ms/step
[[7.8786746e-02 6.2160343e-01 2.9960978e-01]
 [9.9270380e-01 7.0046047e-03 2.9158627e-04]
 [2.0373831e-04 7.7596478e-02 9.2219979e-01]
 [5.2528504e-02 5.5003560e-01 3.9743590e-01]
 [1.8205747e-02 6.3331527e-01 3.4847900e-01]]

In [24]:
prediction = np.argmax(prediction , axis = 1)
print(prediction)

[1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 2 2 1 1 2 0 2 0 2 2 2 2 2 0 0]

In [25]:
print(accuracy_score(y_test, prediction))

0.9666666666666667

In [29]:
cm = confusion_matrix(y_test, prediction)
print(cm)

[[10  0  0]
 [ 0  8  1]
 [ 0  0 11]]

In [30]:
h_map = sns.heatup(cm, annot = True , cmap = 'Reds')

NameError: name 'sns' is not defined